// colors

$color-1: #9F9F9F; // Main Text - Silver Chalice
$color-2: #2D60D5; // Anchor Tags - Mariner
$color-3: #ffffff; // White
$color-4: #151515; // Cod Gray

// fonts 

$primary-font: 'Roboto', sans-serif;